name: x86-64 Pull and Save Docker Image
on:
  workflow_dispatch:
    inputs:
      docker_images:
        description: '请填写docker镜像名称 多个用英文逗号分开'
        required: true
        default: 'alpine:latest'  # 设置默认的 Docker 镜像列表

jobs:
  pull_and_package:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Clean up Docker to free space
      run: |
          docker system prune -a -f
          docker volume prune -f
          # 1. 停止所有运行中的Docker容器（避免占用资源）
          docker stop $(docker ps -aq) || true
          # 2. 删除所有Docker容器、镜像、网络、构建缓存、卷（最强清理）
          docker system prune -a -f --volumes
          # 3. 清理Docker构建缓存的额外内容
          docker builder prune -a -f
          # 4. 删除GitHub Runner预安装的大文件（Android SDK、dotnet、miniconda等）
          sudo rm -rf /usr/local/lib/android /usr/share/dotnet /opt/ghc /opt/hostedtoolcache/CodeQL /opt/miniconda || true
          # 5. 清理系统无用包和缓存
          sudo apt-get autoremove -y && sudo apt-get clean -y && sudo apt-get autoclean -y
          # 6. 删除系统临时文件
          sudo rm -rf /tmp/* /var/tmp/* || true
          # 查看磁盘使用情况（方便调试）
          df -h
    - name: Pull Docker Images and Package
      run: |
        images="${{ github.event.inputs.docker_images }}"
        IFS=',' read -r -a image_array <<< "$images"
        for image in "${image_array[@]}"; do
          docker pull "${image}" --platform "linux/amd64"
          docker save "${image}" -o "${image//\//_}-amd64.tar"
        done

    - name: Compress the TAR files
      run: tar -czf x86-64-images.tar.gz *-amd64.tar

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: docker-images-tar
        path: x86-64-images.tar.gz
        retention-days: 1  # 将保留天数设置为 1 天 最多可设置90天

    - name: Clean up intermediate files
      run: |
        rm *-amd64.tar
